<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576033526354-ecbh4nln0e5fovltra9v63m678g1h869.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576033526354-ecbh4nln0e5fovltra9v63m678g1h869</string>
	<key>API_KEY</key>
	<string>AIzaSyA8QhYQdT4TlK8Yaj_RtR14T9NxYMvf2i8</string>
	<key>GCM_SENDER_ID</key>
	<string>576033526354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.efood</string>
	<key>PROJECT_ID</key>
	<string>efood-f9ef5</string>
	<key>STORAGE_BUCKET</key>
	<string>efood-f9ef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576033526354:ios:1c41d5b3c5cf1ff672c58b</string>
	<key>DATABASE_URL</key>
	<string>https://efood-f9ef5-default-rtdb.firebaseio.com</string>
</dict>
</plist>